<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sobre-static/style.css">
    <title>Home Page</title>
</head>

<body>
    <div class="nav">
        <a href="/">&larr;</a>
    </div>
    <div class="pag">
        <h1 class="titulo">Acelere seu cálculo!</h1>

    </div>
    <div class="imagem">

    </div>
    <section class="camada2">

    </section>
</body>

</html>