<!DOCTYPE html>
<html lang="en">

<html>

<head>
    <link rel="stylesheet" type="text/css" href="sobre-static/style.css">
    <title>Sobre</title>
</head>

<body>
    <header>
        <nav>
            <div class="container">

                <a href="/">&larr;</a>

            </div>
        </nav>
        <h1 class="big-title">
            Acelere seu cálculo.
        </h1>


    </header>
    <section class="Sobre">
        <div class="container">
            <div class="content">
                <h3 class="title">Sobre <div class="border"></div>
                </h3>
                <p class="text">texto de sobre
                    texto de sobre
                    <b>texto de sobre</b> texto de sobre
                    texto de sobre
                    texto de sobretexto de sobretexto de sobretexto de sobretexto de sobretexto de sobretexto de
                    sobretexto de sobretexto de sobretexto de sobretexto de sobretexto de sobre
                    texto de sobretexto de sobretexto de sobretexto de sobre <b>texto de sobre</b> texto de sobre
                    texto de sobre
                </p>
            </div>
        </div>
    </section>




</body>

</html>