<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jogo Educacional</title>
    <link rel="stylesheet" href="game-static/style.css">
</head>

<body>
    <!--Barra de navegacao com cronometro centralizado-->
    <div class="nav-timer">
        <a href="/">Home</a>
        <div id="cron">00:00</div>

    </div>
    <div class="Home-body">
        <div class="Ranking">
            <h1>Ranking</h1>
            <h2>
                <%= username %>
            </h2>
        </div>

        <div class="Jogo">
            <div>
            <canvas id="myCanvas2" class="myCanvas2" width="1890" height="300"></canvas>
            </div>
            <canvas id="myCanvas" class="myCanvas" width="1890" height="930"></canvas>
            <img id="cenario" width="0" height="0" src="game-static\cenario-v2.png">
            <img id="monitorf" width="0" height="0" src="game-static\fundomonitor.png">
            <img id="int" width="0" height="0" src="game-static\presetintegral.png">
            <img id="der" width="0" height="0" src="game-static\presetderivada.png">
            <img id="rec" width="0" height="0" src="game-static\fundorecortado1.png">
            <img id="carrinho" width="0" height="0" src="game-static\carro.png">
            <img id="back" width="0" height="0" src="game-static\back.png">
            <img id="placaa" width="0" height="0" src="game-static\PLACAa.png">
            <img id="placab" width="0" height="0" src="game-static\placaB.png">
            <img id="n1" width="0" height="0" src="game-static\0.png">
            <img id="n2" width="0" height="0" src="game-static\2.png">
            <img id="n3" width="0" height="0" src="game-static\3.png">
            <img id="n4" width="0" height="0" src="game-static\4.png">
            <img id="n5" width="0" height="0" src="game-static\5.png">
            <img id="n6" width="0" height="0" src="game-static\6.png">
            <img id="n7" width="0" height="0" src="game-static\7.png">
            <img id="n8" width="0" height="0" src="game-static\8.png">
            <img id="n9" width="0" height="0" src="game-static\9.png">
            <img id="n10" width="0" height="0" src="game-static\10.png">
            <img id="n12" width="0" height="0" src="game-static\12.png">
            <img id="n16" width="0" height="0" src="game-static\16.png">
            <img id="c+" width="0" height="0" src="game-static\c+.png">
            <img id="x" width="0" height="0" src="game-static\x.png">
            <img id="fra" width="0" height="0" src="game-static\frac.png">
            <img id="sum" width="0" height="0" src="game-static\soma.png">
            <img id="sub" width="0" height="0" src="game-static\sub.png">
            <script type="text/javascript" src="main.js"></script>
        </div>
        <div class="Pontuacao">
            <h1>Tabela de Pontos</h1>
        </div>
    </div>
    <div class="buttons">
        <button onclick="iniciar(); //start(); // função de iniciar o jogo e timer">Start</button>
        <button onclick="parar();">Stop</button>
    </div>
    <script type="text/javascript" src="game-static/main.js"></script>
    <script type="text/javascript" src="game-static/validacao.js"></script>
    <script type="text/javascript" src="game-static/cronometro.js"></script>

    <script>


    </script>

</body>