<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jogo Educacional</title>
    <link rel="stylesheet" href="game-static/style.css">
</head>

<body>
    <!--Barra de navegacao com cronometro centralizado-->
    <div class="nav-timer">
        <a href="/">Home</a>
        <div id="cron">00:00</div>

    </div>
    <div class="Home-body">
        <div class="Ranking">
            <h1>Ranking</h1>
            <h2>
                <%= username %>
            </h2>
        </div>

        <div class="Jogo">
            <canvas id="canvas" width="900" height="900"></canvas>
            <div>
            <canvas id="myCanvas2" class="myCanvas2" width="1890" height="300"></canvas>
            </div>
            <canvas id="myCanvas" class="myCanvas" width="1890" height="930"></canvas>
            <img id="cenario" width="0" height="0" src="cenario-v2.png">
            <img id="monitorf" width="0" height="0" src="fundomonitor.png">
            <img id="int" width="0" height="0" src="presetintegral.png">
            <img id="der" width="0" height="0" src="presetderivada.png">
            <img id="rec" width="0" height="0" src="fundorecortado1.png">
            <img id="carrinho" width="0" height="0" src="carro.png">
            <img id="back" width="0" height="0" src="back.png">
            <img id="placaa" width="0" height="0" src="PLACAa.png">
            <img id="placab" width="0" height="0" src="placaB.png">
            <img id="n1" width="0" height="0" src="1.png">
            <img id="n2" width="0" height="0" src="2.png">
            <img id="n3" width="0" height="0" src="3.png">
            <img id="n4" width="0" height="0" src="4.png">
            <img id="n5" width="0" height="0" src="5.png">
            <img id="n6" width="0" height="0" src="6.png">
            <img id="n7" width="0" height="0" src="7.png">
            <img id="n8" width="0" height="0" src="8.png">
            <img id="n9" width="0" height="0" src="9.png">
            <img id="n10" width="0" height="0" src="10.png">
            <img id="n12" width="0" height="0" src="12.png">
            <img id="n16" width="0" height="0" src="16.png">
            <img id="c+" width="0" height="0" src="c+.png">
            <img id="x" width="0" height="0" src="x.png">
            <img id="fra" width="0" height="0" src="frac.png">
            <img id="sum" width="0" height="0" src="soma.png">
            <img id="sub" width="0" height="0" src="sub.png">
            <script type="text/javascript" src="./main.js"></script>
        </div>
        <div class="Pontuacao">
            <h1>Tabela de Pontos</h1>
        </div>
    </div>
    <div class="buttons">
        <button onclick="iniciar(); //start(); // função de iniciar o jogo e timer">Start</button>
        <button onclick="parar();">Stop</button>
    </div>
    <script type="text/javascript" src="game-static/main.js"></script>
    <script type="text/javascript" src="game-static/validacao.js"></script>
    <script type="text/javascript" src="game-static/cronometro.js"></script>

    <script>


    </script>

</body>