body{
    display: block;
   background-color: white;
}
canvas{
    border:5px solid rgb(30, 255, 0);
    background-color: black;
    z-index: 0;
}

.Home-body{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 10px; 
  }

.nav-timer{
    width: 100%;
    display: grid;
    grid-template-columns: 500px 50px 50px;
}
.nav-timer, a{
    text-decoration: none;

}