body{
    display: block;
   background-color: white;
}
canvas{
    border:5px solid red;
    background-color: black;
    z-index: 0;
}

.Home-body{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 100px; 
  }